@font-face{
	font-family: adigiana;
	src: url(../fonts/adigianaui-webfont.woff2); 
}

html{
	scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*border colors*/
.borderRed{
	border: 2px solid red;
}
.borderGreen{
	border: 2px solid green;
}
.borderViolet{
	border: 2px solid violet;
}
.borderOrange{
	border: 2px solid orange;
}
.borderSilver{
	border: 2px solid silver;
}
.borderBlue{
	border: 2px solid blue;
}
.borderpage{
	border: 2px solid black;
}

/*NavBar*/
.navbar{
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	background-color: rgba(17, 57, 0, .5);
	height: 60px;
	width: 100%;
	border-radius: 0px 0px 50% 50%;
	z-index: 10;
}
.navbar > p{
	text-align: center;
/*	margin-left: 400px;
	width: 100%;*/
}
.navbar > p > a{
	text-decoration: none;
	margin-right: 25px;
	font-family: 'Architects Daughter', cursive;
	color: white;
}
.navbar > p > a:visited{
	color: white;
}
/*Name*/
/*Container*/
.Page1{
	background: url(../images/bgcapname.jpg);
	background-repeat: no-repeat;
	position: relative;
	z-index: -2;
	height: 100vh;
	background-size: cover;
}

.Page1 > div > h1{
	position: absolute;
	font-size: 100px;
	top: 33%;
	left: 25%;
	transform: skewY(-28deg);
	font-family: adigiana;
	animation-name: colorch;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes colorch{
	0% {
		color: darkgreen;
	}
	10% {
		color: darkblue;
	}
	20% {
		color: darkgreen;
	}
	30% {
		color: maroon;
	}
	40% {
		color: darkgreen;
	}
	50% {
		color: brown;
	}
	60% {
		color: darkblue;
	}
	70% {
		color: darkgreen;
	}
	80% {
		color: maroon;
	}
	90% {
		color: darkgreen;
	}
	100% {
		color: black;
	}
}
.Page1 > div > h1 >span{
	color: rgb(17, 57, 0);
}
.Page1 div img{
	position: absolute;
}
#img1{
	height: 4%;
	width: 3%;
	top: 63%;
	left: 63%;
	z-index: 1;
}
#img2{
	height: 8%;
	width: 6%;
	top: 58%;
	left: 66%;
	z-index: 1;
}
#img3{
	height: 30%;
	width: 10%;
	top: 32%;
	left: 53%;
	z-index: 1;
}
#img4{
	height: 60%;
	width: 35%;
	top: 21%;
	left: 45%;
	z-index: -1;
}
#img5{
	height: 8%;
	width: 8%;
	top: 60%;
	left: 55%;
	z-index: 2;
}
#img6{
	height: 8%;
	width: 6%;
	top: 56%;
	left: 60%;
	z-index: -1;
}

/*page2*/
.container2{
	background: linear-gradient(to left, rgba(255,255,255,0) 20%,
    rgba(255,255,255,1)), url(../images/bgcapdest.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.Page2{
	height: 50vh;
	display: flex;
}
.Page2 > div{
	justify-content: center;
	width: 100%;
	align-items: flex-end;
	display: flex;

}
.Page2 > div > div{
	text-align: center;
	font-family: adigiana;
	font-size: 30px;
	letter-spacing: 30px;
	animation-name: destitext;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes destitext{
	0% {
		text-shadow: 1px 1px 10px green;
	}
	10% {
		text-shadow: 1px 1px 10px red;
	}
	20% {
		text-shadow: 1px 1px 10px yellow;
	}
	30% {
		text-shadow: 1px 1px 10px violet;
	}
	40% {
		text-shadow: 1px 1px 10px orange;
	}
	50% {
		text-shadow: 1px 1px 10px green;
	}
	60% {
		text-shadow: 1px 1px 10px red;
	}
	70% {
		text-shadow: 1px 1px 10px blue;
	}
	80% {
		text-shadow: 1px 1px 10px yellow;
	}
	90% {
		text-shadow: 1px 1px 10px orange;
	}
	100% {
		text-shadow: 1px 1px 10px green;
	}
}

.Page2 > div > div > h1 >span{
	letter-spacing: 0px;
	font-size: 125px;
}
.buttonspg2{
	display: flex;
	justify-content: space-around;
	/*border: 3px solid green;*/
}
.buttonspg2 > div{
	border: 3px solid rgb(17, 57, 0);
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 5px;

}
#btnleft{
	margin-right: 50%;
}
.buttonspg2 > div > a{
	padding: 20px 30px;
	text-decoration: none;
}
.buttonspg2 > div > a > span{
	font-size: 30px;
	font-weight: bold;
	color: rgb(17, 57, 0);
}

/*Page3*/
.container3{
	background: linear-gradient(to left, rgba(255,255,255,0) 20%,
    rgba(255,255,255,1)), url(../images/bgcapfood.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.page3{
	display: flex;
}
.page3 > .left, .page3 > .right{
	height: 100vh;
	width: 50%;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
}
.page3 > .left{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.frame1{
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 60%;
	width: 100%;
}
.frame2{
	height: 20%;
	width: 40%;
	display: flex;
	justify-content: space-around;

}
.frame1 > div > img{
	height: 120px;
	width: 50px;
	position: relative;
	bottom: 150px;
}
.frame1 > .image2div{
	transform: skewY(45deg);
}
iframe{
	position: relative;
	z-index: 2;
	width: 70%;
	height: 70%;
}
.frame1 > div{
	transform: skewY(-45deg);
}

#image1{
	transform: skewX(30deg);
	height: 120px;
	width: 50px;
	position: relative;
	left: 15px;
}
#image2{
	transform: skewX(-30deg);
	height: 120px;
	width: 50px;
	position: relative;
	right: 15px;
}
.frame2 > div{
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 0px;
}
.frame2 > div > a > img{
	height: 100%;
	width: 100%;
	position: relative;
	border-radius: 50%;
	bottom: 0px;
}

.right > div,{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right > div > img{
	height: 30%;
	width: 20%;
	position: relative;
	top: 30px;
	right: 110px;
}
.right > div > div{
	height: 40%;
	width: 70%;
}
.right > div > div > h1{
	font-family: adigiana;
	font-size: 90px;
}
.right > div > div > h1 > span{
	letter-spacing: 20px;
}

/*Page4*/
.container4{
	background: url(../images/bggreen.jpg);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
}
.Page4{
	display: flex;
	height: 75vh;
	justify-content: center;
	align-items: flex-end;
}
.headers{
	display: flex;
	align-items: center;
	height: 75vh;

}
.combiheader{
	justify-content: center;
	display: flex;
	flex-direction: column;
	position: absolute;
}
.header11{
	color: white;
	font-size: 75px;
	position: relative;
	display: flex;
	justify-content: center;
	z-index: 2;
	font-family: adigiana;
	animation-name: givewhite;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	display: flex;
	top: 200px;
}
.header22{
	display: flex;
	justify-content: center;
	color: black;
	font-size: 78px;
	position: relative;
	z-index: 1;
	font-family: adigiana;
}
@keyframes givewhite{
	0%{
		color: yellow;
	}
	10%{
		color: white;
	}
	20%{
		color: red;
	}
	30%{
		color: white;
	}
	40%{
		color: orange;
	}
	50%{
		color: white;
	}
	60%{
		color: yellow;
	}
	70%{
		color: white;
	}
	80%{
		color: orange;
	}
	90%{
		color: white;
	}
	100%{
		color: blue;
	}

}
.combiheader{
	justify-content: center;
	display: flex;
	z-index: 1;
}

/*page4 images*/
.Page4 > img{
	position: relative;
	max-width: 13vw;
	z-index: 2;
}

#snoop{
	flex: 2;
}
#con1{
	flex: 1;
}
#con2{
	flex: 1;
}
#con3{
	flex: 1;
}
#con4{
	flex: 1;
}
#con5{
	flex: 1;
}

@media only screen and (max-width: 600px)
{
	/*NavBar*/
.navbar{
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	background-color: rgba(17, 57, 0, .5);
	height: 60px;
	max-width: 100%;
	border-radius: 0px 0px 50% 50%;
	z-index: 10;
}
.navbar > p{
	text-align: center;
	width: 100%;
}
.navbar > p > a{
	text-decoration: none;
	margin-right: 25px;
	font-family: 'Architects Daughter', cursive;
	color: white;
	/*changed*/
	font-size: 20px;
	/*changed*/
}
.navbar > p > a:visited{
	color: white;
}
/*Name*/
/*Container*/
.Page1{
	display: flex;
	background: url(../images/bgcapname.jpg);
	background-repeat: no-repeat;
	position: relative;
	z-index: -2;
	height: 100vh;
	background-size: cover;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.Page1 > div{
	bottom: 100px;
}
.Page1 > div > h1{
	position: relative;
	/*changed*/
	font-size: 50px;
	/*changed*/
	top: 0%;
	left: 0%;
	transform: skewY(0deg);
	font-family: adigiana;
	animation-name: colorch;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes colorch{
	0% {
		color: darkgreen;
	}
	10% {
		color: darkblue;
	}
	20% {
		color: darkgreen;
	}
	30% {
		color: maroon;
	}
	40% {
		color: darkgreen;
	}
	50% {
		color: brown;
	}
	60% {
		color: darkblue;
	}
	70% {
		color: darkgreen;
	}
	80% {
		color: maroon;
	}
	90% {
		color: darkgreen;
	}
	100% {
		color: black;
	}
}
.Page1 > div > h1 >span{
	color: rgb(17, 57, 0);
}
.Page1 div img{
	position: absolute;
}
/*coffee*/
#img1{
	height: 8%;
	width: 8%;
	top: 60%;
	left: 55%;
	z-index: 1;
}
/*Cool*/
#img2{
	height: 8%;
	width: 15%;
	top: 57%;
	left: 60%;
	z-index: 1;
}
/*deer*/
#img3{
	height: 30%;
	width: 20%;
	top: 32%;
	left: 27%;
	z-index: -1;
}
/*background*/
#img4{
	height: 60%;
	width: 70%;
	top: 21%;
	left: 20%;
	z-index: -2;
}
/*cat*/
#img5{
	height: 8%;
	width: 25%;
	top: 60%;
	left: 30%;
	z-index: 2;
}
/*face*/
#img6{
	height: 10%;
	width: 15%;
	top: 52%;
	left: 45%;
	z-index: -1;
}

/*page2*/
.container2{
	background: linear-gradient(to left, rgba(255,255,255,0) 20%,
    rgba(255,255,255,1)), url(../images/bgcapdest.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.Page2{
	height: 50vh;
	display: flex;

}
.Page2 > div{
	justify-content: center;
	width: 100%;
	align-items: flex-end;
	display: flex;

}
.Page2 > div > div > h1 >span{
	letter-spacing: 0px;
	/*changed*/
	font-size: 50px;
	/*changed*/
}
.Page2 > div > div{
	text-align: center;
	font-family: adigiana;
	/*changed*/
	font-size: 20px;
	/*changed*/
	letter-spacing: 10px;
	animation-name: destitext;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes destitext{
	0% {
		text-shadow: 1px 1px 10px green;
	}
	10% {
		text-shadow: 1px 1px 10px red;
	}
	20% {
		text-shadow: 1px 1px 10px yellow;
	}
	30% {
		text-shadow: 1px 1px 10px violet;
	}
	40% {
		text-shadow: 1px 1px 10px orange;
	}
	50% {
		text-shadow: 1px 1px 10px green;
	}
	60% {
		text-shadow: 1px 1px 10px red;
	}
	70% {
		text-shadow: 1px 1px 10px blue;
	}
	80% {
		text-shadow: 1px 1px 10px yellow;
	}
	90% {
		text-shadow: 1px 1px 10px orange;
	}
	100% {
		text-shadow: 1px 1px 10px green;
	}
}

.buttonspg2{
	display: flex;
	justify-content: space-around;
	/*border: 3px solid green;*/
}
.buttonspg2 > div{
	border: 3px solid rgb(17, 57, 0);
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 5px;

}
#btnleft{
	margin-right: 50%;
}
.buttonspg2 > div > a{
	padding: 20px 30px;
	text-decoration: none;
}
.buttonspg2 > div > a > span{
	font-size: 30px;
	font-weight: bold;
	color: rgb(17, 57, 0);
}

/*Page3*/
.container3{
	background: linear-gradient(to left, rgba(255,255,255,0) 20%,
    rgba(255,255,255,1)), url(../images/bgcapfood.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.page3{
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}
.page3 > .left, .page3 > .right{
	height: 50%;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
}
.page3 > .left{
	order: 2;
}
.page3 > .left{
	order: 1;
}


.frame1 > div > img{
	height: 120px;
	width: 50px;
	position: relative;
}
.frame1 > .image2div{
	transform: skewY(45deg);
}
.frame1 > .image21iv{
	transform: skewY(45deg);
}
iframe{
	position: relative;
	z-index: 2;
	width: 80%;
	height: 80%;
}
.frame1 > div{
	transform: skewY(-45deg);
}
.frame1{
	height: 90%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#image1{
	transform: skewX(30deg);
	height: 80px;
	width: 30px;
	position: relative;
	left: 15px;
	bottom: 0px;
}
#image2{
	transform: skewX(-30deg);
	height: 80px;
	width: 30px;
	position: relative;
	right: 15px;
	bottom: 0px;
}
.frame2{
	height: 20%;
	width: 50%;
	display: flex;
	justify-content: center;
	bottom: 0px;
}
.frame2 > div{
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.frame2 > div > a > img{
	height: 100%;
	width: 100%;
	position: relative;
	bottom: 0px;
	border-radius: 50%;
}
.right > div,{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right > div > img{
	height: 30%;
	width: 30%;
	position: relative;
	top: 0px;
	right: 0px;
}
.right > div > div{
	height: 100%;
	width: 100%;
}
.right > div > div > h1{
	font-family: adigiana;
	font-size: 50px;
}
.right > div > div > h1 > span{
	letter-spacing: 20px;
}

/*Page4*/
.container4{
	background: url(../images/bggreen.jpg);
	background-repeat: no-repeat;
	height: 100vh;
	/*changed*/
	width: 100%;
	/*changed*/
	background-size: cover;
	display: flex;
	align-items: center;
}
.Page4{
	display: flex;
	/*changed*/
	height: 80%;
	/*changed*/
	/*changed*/
	width: 100vw;
	/*changed*/
	justify-content: center;
	/*changed*/
	align-items: center;
	/*changed*/
}
.combiheader{
	justify-content: center;
	display: flex;
/*	flex-direction: column;*/
	position: absolute;
}
.header11{
	color: white;
	/*changed*/
	font-size: 25px;
	/*changed*/
	position: relative;
	display: flex;
	justify-content: center;
	z-index: 2;
	font-family: adigiana;
	animation-name: givewhite;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	display: flex;
	/*changed*/
	top: 0px;
	/*changed*/
}
.header22{
	display: flex;
	justify-content: center;
	color: black;
	/*changed*/
	font-size: 26px;
	/*changed*/
	position: relative;
	bottom: 70px;
	z-index: 1;
	font-family: adigiana;
	/*changed*/
}
@keyframes givewhite{
	0%{
		color: yellow;
	}
	10%{
		color: white;
	}
	20%{
		color: red;
	}
	30%{
		color: white;
	}
	40%{
		color: orange;
	}
	50%{
		color: white;
	}
	60%{
		color: yellow;
	}
	70%{
		color: white;
	}
	80%{
		color: orange;
	}
	90%{
		color: white;
	}
	100%{
		color: blue;
	}

}
.combiheader{
	justify-content: center;
	display: flex;
	z-index: 1;
}

/*page4 images*/
.Page4 > img{
	position: relative;
	max-width: 100vw;
	z-index: 2;
}

#snoop{
	flex: 3;
	width: 60vw;
	height: 60%;
	position: absolute;
	z-index: 0;
}
#bird{
	position: absolute;
	right: 5vw;
}
#con1{
	flex: 1;
	width: 15vw;
	bottom: 30px;
}
#con2{
	bottom: 30px;
	width: 15vw;
}
#con3{
	flex: 1;
	bottom: 30px;
	width: 15vw;
}
#con4{
	flex: 1;
	bottom: 30px;
	width: 15vw;
}
#con5{
	flex: 1;
	bottom: 30px;
	width: 15vw;
}
}





@media only screen and (min-width: 700px) and (max-width: 900px)
{
		/*NavBar*/
.navbar{
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	background-color: rgba(17, 57, 0, .5);
	height: 60px;
	max-width: 100%;
	border-radius: 0px 0px 50% 50%;
	z-index: 10;
}
.navbar > p{
	text-align: center;
	width: 100%;
}
.navbar > p > a{
	text-decoration: none;
	margin-right: 25px;
	font-family: 'Architects Daughter', cursive;
	color: white;
	/*changed*/
	font-size: 20px;
	/*changed*/
}
.navbar > p > a:visited{
	color: white;
}
/*Name*/
/*Container*/
.Page1{
	display: flex;
	background: url(../images/bgcapname.jpg);
	background-repeat: no-repeat;
	position: relative;
	z-index: -2;
	height: 100vh;
	background-size: cover;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.Page1 > div{
	bottom: 100px;
}
.Page1 > div > h1{
	position: relative;
	/*changed*/
	font-size: 100px;
	/*changed*/
	top: 0%;
	left: 0%;
	transform: skewY(0deg);
	font-family: adigiana;
	animation-name: colorch;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes colorch{
	0% {
		color: darkgreen;
	}
	10% {
		color: darkblue;
	}
	20% {
		color: darkgreen;
	}
	30% {
		color: maroon;
	}
	40% {
		color: darkgreen;
	}
	50% {
		color: brown;
	}
	60% {
		color: darkblue;
	}
	70% {
		color: darkgreen;
	}
	80% {
		color: maroon;
	}
	90% {
		color: darkgreen;
	}
	100% {
		color: black;
	}
}
.Page1 > div > h1 >span{
	color: rgb(17, 57, 0);
}
.Page1 div img{
	position: absolute;
}
/*coffee*/
#img1{
	height: 8%;
	width: 8%;
	top: 60%;
	left: 55%;
	z-index: 1;
}
/*Cool*/
#img2{
	height: 8%;
	width: 15%;
	top: 57%;
	left: 60%;
	z-index: 1;
}
/*deer*/
#img3{
	height: 30%;
	width: 20%;
	top: 32%;
	left: 27%;
	z-index: -1;
}
/*background*/
#img4{
	height: 60%;
	width: 70%;
	top: 21%;
	left: 20%;
	z-index: -2;
}
/*cat*/
#img5{
	height: 8%;
	width: 25%;
	top: 60%;
	left: 30%;
	z-index: 2;
}
/*face*/
#img6{
	height: 10%;
	width: 15%;
	top: 52%;
	left: 45%;
	z-index: -1;
}

/*page2*/
.container2{
	background: linear-gradient(to left, rgba(255,255,255,0) 20%,
    rgba(255,255,255,1)), url(../images/bgcapdest.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.Page2{
	height: 50vh;
	display: flex;
	justify-content: center;

}
.Page2 > div{
	justify-content: center;
	width: 80%;
	align-items: center;
	display: flex;

}
.Page2 > div > div > h1 >span{
	letter-spacing: 0px;
	/*changed*/
	font-size: 70px;
	/*changed*/
}
.Page2 > div > div{
	text-align: center;
	font-family: adigiana;
	/*changed*/
	font-size: 20px;
	/*changed*/
	letter-spacing: 10px;
	animation-name: destitext;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes destitext{
	0% {
		text-shadow: 1px 1px 10px green;
	}
	10% {
		text-shadow: 1px 1px 10px red;
	}
	20% {
		text-shadow: 1px 1px 10px yellow;
	}
	30% {
		text-shadow: 1px 1px 10px violet;
	}
	40% {
		text-shadow: 1px 1px 10px orange;
	}
	50% {
		text-shadow: 1px 1px 10px green;
	}
	60% {
		text-shadow: 1px 1px 10px red;
	}
	70% {
		text-shadow: 1px 1px 10px blue;
	}
	80% {
		text-shadow: 1px 1px 10px yellow;
	}
	90% {
		text-shadow: 1px 1px 10px orange;
	}
	100% {
		text-shadow: 1px 1px 10px green;
	}
}

.buttonspg2{
	display: flex;
	justify-content: space-around;
	/*border: 3px solid green;*/
}
.buttonspg2 > div{
	border: 3px solid rgb(17, 57, 0);
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 5px;

}
#btnleft{
	margin-right: 50%;
}
.buttonspg2 > div > a{
	padding: 20px 30px;
	text-decoration: none;
}
.buttonspg2 > div > a > span{
	font-size: 30px;
	font-weight: bold;
	color: rgb(17, 57, 0);
}

/*Page3*/
.container3{
	background: linear-gradient(to left, rgba(255,255,255,0) 20%,
    rgba(255,255,255,1)), url(../images/bgcapfood.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.page3{
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}
.page3 > .left, .page3 > .right{
	height: 50%;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
}
.page3 > .left{
	order: 2;
	justify-content: flex-start;
}
.page3 > .right{
	order: 1;
	align-items: flex-end;
}

.frame1 > div > img{
	height: 150px;
	width: 50px;
	position: relative;
}
.frame1 > .image2div{
	transform: skewY(45deg);
}
.frame1 > .image21iv{
	transform: skewY(45deg);
}
iframe{
	position: relative;
	z-index: 2;
	width: 80%;
	height: 80%;
}
.frame1 > div{
	transform: skewY(-45deg);
}
.frame1{
	height: 70%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#image1{
	transform: skewX(30deg);
	height: 80px;
	width: 30px;
	position: relative;
	left: 15px;
	bottom: 0px;
}
#image2{
	transform: skewX(-30deg);
	height: 80px;
	width: 30px;
	position: relative;
	right: 15px;
	bottom: 0px;
}
.frame2{
	height: 20%;
	width: 50%;
	display: flex;
	justify-content: center;
	bottom: 0px;
}
.frame2 > div{
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.frame2 > div > a > img{
	height: 100%;
	width: 100%;
	position: relative;
	bottom: 0px;
	border-radius: 50%;
}
.right{
	justify-content: center;
}
.right > div,{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right > div > img{
	height: 30%;
	width: 30%;
	position: relative;
	top: 0px;
	right: 0px;
}
.right > div > div{
	height: 100%;
	width: 100%;
}
.right > div > div > h1{
	font-family: adigiana;
	font-size: 50px;
}
.right > div > div > h1 > span{
	letter-spacing: 20px;
}

/*Page4*/
.container4{
	background: url(../images/bggreen.jpg);
	background-repeat: no-repeat;
	height: 100vh;
	/*changed*/
	width: 100%;
	/*changed*/
	background-size: cover;
	display: flex;
	align-items: center;
}
.Page4{
	display: flex;
	/*changed*/
	height: 80%;
	/*changed*/
	/*changed*/
	width: 100vw;
	/*changed*/
	justify-content: center;
	/*changed*/
	align-items: center;
	/*changed*/
}
.combiheader{
	justify-content: center;
	display: flex;
/*	flex-direction: column;*/
	position: absolute;
}
.header11{
	color: white;
	/*changed*/
	font-size: 48px;
	/*changed*/
	position: relative;
	display: flex;
	justify-content: center;
	z-index: 2;
	font-family: adigiana;
	animation-name: givewhite;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	display: flex;
	/*changed*/
	top: 40px;
	/*changed*/
}
.header22{
	display: flex;
	justify-content: center;
	color: black;
	/*changed*/
	font-size: 50px;
	/*changed*/
	position: relative;
	bottom: 80px;
	z-index: 1;
	font-family: adigiana;
	/*changed*/
}
@keyframes givewhite{
	0%{
		color: yellow;
	}
	10%{
		color: white;
	}
	20%{
		color: red;
	}
	30%{
		color: white;
	}
	40%{
		color: orange;
	}
	50%{
		color: white;
	}
	60%{
		color: yellow;
	}
	70%{
		color: white;
	}
	80%{
		color: orange;
	}
	90%{
		color: white;
	}
	100%{
		color: blue;
	}

}
.combiheader{
	justify-content: center;
	display: flex;
	z-index: 1;
}

/*page4 images*/
.Page4 > img{
	position: relative;
	max-width: 100vw;
	z-index: 2;
}

#snoop{
	flex: 3;
	width: 60vw;
	height: 60%;
	position: absolute;
	z-index: 0;
}
#bird{
	position: absolute;
	right: 0vw;
}
#con1{
	flex: 1;
	width: 15vw;
	bottom: 30px;
}
#con2{
	bottom: 30px;
	width: 15vw;
}
#con3{
	flex: 1;
	bottom: 30px;
	width: 15vw;
}
#con4{
	flex: 1;
	bottom: 30px;
	width: 15vw;
}
#con5{
	flex: 1;
	bottom: 30px;
	width: 15vw;
}
}
